@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* Background fade-in */
@keyframes fadeInBody {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeInBody 0.7s ease-in-out;
}

/* Form slide-up */
@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-slideUp {
  animation: slideUp 0.8s ease;
}

/* Toast */
@keyframes toastAnim {
  0% { transform: translateY(-20px); opacity: 0; }
  20%, 80% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-20px); opacity: 0; }
}
.animate-toast {
  animation: toastAnim 2s ease forwards;
}
/* Hide default password reveal icon in input fields */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}
